/* FIX: Сбросить стили и кросбраузерность */ 

@font-face {
	font-family: 'Roboto Bold';
	src: url('../../vendors/fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../../vendors/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'RobotoSlab Bold';
	src: url('../../vendors/fonts/RobotoSlab-Bold.ttf');
}

body {
	background: #121212 url('../img/bg.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto Regular';
}

.header {
	background: #fff;
	padding-top: 8px;
	padding-bottom: 19px;
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
	-webkit-box-shadow: inset 0 -10px 10px -10px #000000;
	box-shadow: inset 0 -10px 10px -10px #000000;
}

.information_header {
	padding-top: 8px;
	color: #284986;
	font-size: 16px;
}

.telefone a {
	font-family: 'Roboto Bold';
	font-size: 18px;
}

.email a {
	color: #284986;
}

.telefone,
.email {
	left: 214px;
	position: absolute;
}

.email {
	padding-top: 4px;
}

.nav_header {
	background-color: #284986;
	-webkit-box-shadow: 1px 3px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 3px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 3px 12px 0px rgba(50, 50, 50, 0.75);
}

.navbar {
	margin-bottom: 0; 
}

.navbar-nav > li > a {
	text-decoration: underline;
	font-family: 'RobotoSlab Bold';
	color: #fff;
	padding-right: 30px;
}

.navbar-nav > li > a:hover {
	text-decoration: none;
	background-color: #284986;
}

.navbar-nav > li > a:active {
	text-decoration: none;
	background-color: #284986;
}

.navbar-nav > .active > a {
	text-decoration: none;
	background-color: #284986;
}

.navbar-nav > li:first-child > a {
	padding-left: 6px;
}

.index-text {
	font-family: 'RobotoSlab Bold';
	color: #fff;
	font-size: 18px;
	padding-top: 48px;
}

.index_start_news {
	margin-top: 64px; 
}